version: '3'
services:
  app:
    build: .
    stdin_open: true
    tty: true
    environment:
      FLASK_APP: api.py
      MARIADB_ROOT_PASSWORD: example
      MARIADB_USER: dev
      MARIADB_PASSWORD: example
      MARIADB_DATABASE: inventory_db
      DB_ADDRESS: db
    ports:
      - "5000:5000"
    depends_on:
      - db
    volumes:
      - ./:/app
  db:
    image: mariadb
    environment:
      MARIADB_ROOT_PASSWORD: example
      MARIADB_USER: dev
      MARIADB_PASSWORD: example
      MARIADB_DATABASE: inventory_db
      DB_ADDRESS: db
  adminer:
    image: adminer
    ports:
      - "8080:8080"

